<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fever_Classes.Properties.Settings.FeverFootballDBConnectionString"
            connectionString="Data Source=BANXMAN-PC\SQLEXPRESS;Initial Catalog=FeverFootballDB;Persist Security Info=True;User ID=EphaseAccess"
            providerName="System.Data.SqlClient" />
        <add name="Fever_Classes.Properties.Settings.FeverFootballDBConnectionString1"
            connectionString="Data Source=banxman-pc\sqlexpress;Initial Catalog=FeverFootballDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fever_Classes.Properties.Settings.FeverFootballDBConnectionString2"
            connectionString="Data Source=Adewoye-pc;Initial Catalog=FeverFootballDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>